<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
        integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css" />

    <link rel="icon" type="image/x-icon" href="assets/chat.png">
    <title>Chat.io</title>
</head>

<body>
    <div class="chat-container">
        <header class="chat-header">
            <h1><i class="fas fa-solid fa-comments"></i> Chat.io</h1>
            <p id="typing"></p>
            <p id="user-name"></p>
            <a href="/" class="btn"><i class="fa-solid fa-right-from-bracket"></i> Leave Room</a>
        </header>
        <main class="chat-main">
            <div class="chat-sidebar">
                <h3 id="room-name-header"><i class="fas fa-comments"></i>
                    Room Name
                </h3>
                <h2 id="room-name"></h2>
                <h3 id="user-list-header"><i class="fas fa-users"></i> Users</h3>
                <ul id="users"></ul>
            </div>
            <div class="chat-messages">
                <%chats.forEach(chat=>{%>
                    <%if(chat.room===roomVal){%>
                        <div class="message">
                            <p class="meta">
                                <%=chat.username%><span>&nbsp;&nbsp;&nbsp;&nbsp;<%=chat.time%></span>
                            </p>
                            <p class="text">
                                <%=chat.message%>
                            </p>
                        </div>
                        <%}%>
                            <%})%>
            </div>
        </main>
        <div class="chat-form-container">
            <form id="chat-form">
                <input id="msg" type="text" placeholder=" Enter message..." autocomplete="off"
                    onkeypress="onkeyFn()" required />
                <span>&nbsp;&nbsp;</span>
                <button class="btn"><i class="fas fa-paper-plane"></i> Send</button>
                <span>&nbsp;&nbsp;</span>
                <button class="btn btn1" onclick="subscribe()"><i class="fas fa-solid fa-bell"></i> Subscribe</button>
                <span>&nbsp;&nbsp;</span>
                <button class="btn btn2" onclick="unsubscribe()"><i class="fas fa-solid fa-bell-slash"></i> Unsubscribe</button>
            </form>
        </div>
    </div>
    <script>
        document.getElementById('room-name').innerHTML=<%-JSON.stringify(roomVal) %>
        document.getElementById('user-name').innerHTML=<%-JSON.stringify(userVal) %>
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.10.1/qs.min.js"
        integrity="sha512-aTKlYRb1QfU1jlF3k+aS4AqTpnTXci4R79mkdie/bp6Xm51O5O3ESAYhvg6zoicj/PD6VYY0XrYwsWLcvGiKZQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/socket.io/socket.io.js"></script>

    <script src="js/main.js"></script>
    <script src="js/push_script.js"></script>
</body>

</html>